<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/shared/head' %>
</head>

<body class="bg-gray-100 bg-opacity-50">
<div data-controller="sidebar">
  <%= render 'layouts/users/header' %>
  <%= render 'layouts/users/sidebar' %>
</div>
<main class="px-4 py-24 sm:ml-64 h-screen">

  <div class="border-b border-gray-200 pb-2 mb-4">
    <h1 class="text-3xl font-bold text-gray-600 dark:text-white"><%= yield(:page_title) %></h1>
  </div>

  <%= render 'layouts/breadcrumbs/breadcrumbs' %>

  <div class="mx-auto mt-4 p-6 bg-white border border-gray-200 rounded-lg">
    <%= rc "flash/message" %>
    <%= yield %>
  </div>

</main>
</body>
</html>
