<% provide :title, t('.title') %>
<% provide :head_title, t('.title') %>

<%= render 'users/profile/page' do %>

    <%= render 'users/profile/form_avatar' %>

    <%= form_with model: @user, url: users_update_profile_path, local: true do |form| %>
        <%= form.tw_text_field :name %>
        <%= form.tw_email_field :email_address %>
        <%= form.tw_password_field :current_password %>

        <div class="flex items-center justify-between mt-4">
            <%= tw_link_to t('buttons.back'), users_root_path %>
            <%= form.tw_submit t('buttons.update') %>
        </div>
    <% end %>
<% end %>