<% provide :title, t('.title') %>
<% provide :head_title, t('.title') %>

<%= render 'users/profile/page' do %>
    <%= form_with model: @user, url: users_update_password_path, method: :patch,
                  html: { novalidate: true, id: :user_update_password_form } do |f| %>

        <%= f.tw_password_field :current_password, required: true, autocomplete: "off" %>
        <%= f.tw_password_field :password, label: t('form.fields.new_password'),
                                required: true, autocomplete: "off", maxlength: 72 %>
        <%= f.tw_password_field :password_confirmation, required: true, autocomplete: "off", maxlength: 72 %>

        <div class="flex items-center justify-between mt-4">
            <%= tw_link_to t('buttons.back'), users_root_path %>
            <%= f.tw_submit t('sessions.actions.reset_password') %>
        </div>
    <% end %>
<% end %>